<h2> Inserção de Suprimentos</h2>
<mat-card>
<form (submit)="onAdicionarSuprimento(usuarioForm)" #usuarioForm="ngForm">
<mat-form-field>
<input type="text" required minlength="1" matInput placeholder="Suprimento" name="nameSupply" ngModel #nameSupply ="ngModel"/>
<mat-error r *ngIf="nameSupply.invalid">Digite um suprimento válido</mat-error>
</mat-form-field>
<mat-form-field>
<input type="number" required minlength="1" matInput placeholder="Quantidade" name="qttSupply" ngModel #qttSupply ="ngModel"/>
<mat-error r *ngIf="qttSupply.invalid">Digite uma quantidade válida</mat-error>
</mat-form-field>
<mat-form-field>
<input type="text" required minlength="1" matInput placeholder="Unidade de medida" name="typeSupply" id="typeSupply" list="tipos" ngModel #typeSupply ="ngModel"/>
<mat-error r *ngIf="typeSupply.invalid">Digite uma unidade válida</mat-error>
</mat-form-field>
<button color="primary" mat-raised-button>Inserir Suprimento</button>
</form>
</mat-card>

<datalist id="tipos">
  <option>Kg</option>
  <option>L</option>
</datalist>
