<mat-accordion *ngIf="suprimentos.length > 0">
  <mat-expansion-panel *ngFor="let suprimento of suprimentos">
  <mat-expansion-panel-header>Suprimento: <b>{{suprimento.nameSupply}}</b></mat-expansion-panel-header>
  <hr />
  <p>Quantidade: <b>{{suprimento.qttSupply}}</b></p>
  <hr />
  <p>Unidade de medida:<b> {{suprimento.typeSupply}}</b></p>
  <mat-action-row>
    <a mat-button color="primary" [routerLink]="['/editar', suprimento.id]">EDITAR</a>
    <button mat-button color="warn" (click)="onDelete(suprimento.id)">REMOVER</button>
    </mat-action-row>
</mat-expansion-panel>
  </mat-accordion>
  <p class="mat-body-1" style="text-align: center;" *ngIf="suprimentos.length <= 0">
    Nenhum Suprimento cadastrado</p>
