<h2> Inserção de Usuários</h2>
<mat-card>
<form (submit)="onAdicionarUsuario(usuarioForm)" #usuarioForm="ngForm">
<mat-form-field>
<input type="text" required minlength="4" matInput placeholder="Usuário" name="userName" ngModel #userName="ngModel"/>
<mat-error r *ngIf="userName.invalid">Digite um usuário válido</mat-error>
</mat-form-field>
<mat-form-field>
<input type="password" required minlength="8"matInput placeholder="Senha"  name="password" ngModel #password="ngModel"/>
<mat-error *ngIf="password.invalid">Digite uma senha válida</mat-error>

</mat-form-field>
<button color="primary" mat-raised-button>Inserir Usuário</button>
</form>
</mat-card>
